<template>
  <div style="height: 100%">
    <div id="list" v-if="projects.length > 0">
      <v-container fluid>
        <v-row justify="center">
          <v-col cols="6">
            <v-text-field
              class="mt-12"
              label="Buscar"
              solo
              v-model="search"
            ></v-text-field>
          </v-col>
        </v-row>
        <v-row>
          <v-col cols="12">
            <v-list two-line>
              <v-list-item-group>
                <template v-for="project in filteredProjects">
                  <v-list-item
                    @click="openProject(project.path)"
                    @contextmenu="projectContextMenu(project.title)"
                    :key="project.title"
                  >
                    <v-list-item-avatar>
                      <v-icon class="grey lighten-1" dark>mdi-folder</v-icon>
                    </v-list-item-avatar>

                    <v-list-item-content>
                      <v-list-item-title
                        v-text="project.title"
                      ></v-list-item-title>
                      <v-list-item-subtitle
                        v-text="project.date"
                      ></v-list-item-subtitle>
                    </v-list-item-content>

                    <v-list-item-action>
                      <v-tooltip bottom>
                        <template v-slot:activator="{ on, attrs }">
                          <v-icon
                            color="grey lighten-1"
                            v-bind="attrs"
                            v-on="on"
                            >mdi-information</v-icon
                          >
                        </template>
                        <span>{{ project.description }}</span>
                      </v-tooltip>
                    </v-list-item-action>
                  </v-list-item>
                  <v-divider inset :key="project.path"></v-divider>
                </template>
              </v-list-item-group>
            </v-list>
          </v-col>
        </v-row>
        <v-dialog v-model="createDialog" width="700">
          <template v-slot:activator="{ on, attrs }">
            <v-btn
              bottom
              @click="createDialog = true"
              color="primary"
              fab
              fixed
              large
              right
              v-bind="attrs"
              v-on="on"
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </template>
          <CreateProject @close-dialog="createDialog = false" type="Crear" />
        </v-dialog>
      </v-container>
    </div>
    <div id="main" v-else>
      <v-dialog v-model="createDialog" width="700">
        <template v-slot:activator="{ on, attrs }">
          <v-container @click="createDialog = true" v-bind="attrs" v-on="on">
            <v-row justify="center">
              <v-icon size="160">mdi-folder-plus</v-icon>
            </v-row>
            <v-row justify="center">
              <p class="text-h4 text--secondary">Añadir nuevo Proyecto</p>
            </v-row>
          </v-container>
        </template>
        <CreateProject @close-dialog="createDialog = false" type="Crear" />
      </v-dialog>
    </div>
    <v-dialog v-model="appInfoDialog" width="500">
      <AppInfo @close-dialog="appInfoDialog = false" />
    </v-dialog>
    <v-dialog v-model="editDialog" width="700">
      <CreateProject
        @close-dialog="saveEditedProject"
        type="Editar"
        v-if="editDialog"
      />
    </v-dialog>
  </div>
</template>

<script lang="ts">
import AppInfo from "@/components/AppInfo.vue";
import CreateProject from "@/components/CreateProject.vue";
import { isAProject } from "@/modules/utils";
import { Project, ProjectData } from "@/modules/fileSystem";
import router from "@/router";
import Vue from "vue";

export default Vue.extend({
  name: "Main",

  components: {
    AppInfo,
    CreateProject,
  },
  data() {
    return {
      appInfoDialog: false,
      createDialog: false as boolean,
      editDialog: false as boolean,
      projects: this.$store.state.projects as ProjectData[],
      search: "" as string,
      temporaryTitle: "" as string,
    };
  },
  methods: {
    async readProject(path: string): Promise<string> {
      const stringFile: string = await window.fsAPI.readFile(path);
      const jsonProject: Project = JSON.parse(stringFile);
      this.$store.dispatch(
        "setCurrentProject",
        new Project(
          jsonProject.title,
          jsonProject.description,
          jsonProject.date,
          jsonProject.cost,
          jsonProject.tasks,
          jsonProject.tagList
        )
      );
      this.$store.dispatch("setCurrentPath", path);

      return jsonProject.title;
    },
    async openProject(path: string) {
      try {
        const projectTitle = await this.readProject(path);

        this.$store.dispatch("setPreviousTitle", projectTitle);
        router.push({ path: "/timeline" });
        this.$store.dispatch("setSelectedTask", 0);
      } catch {
        window.dialogAPI.errorDialog(
          "Archivo no encontrado",
          "La ruta de este proyecto no existe"
        );
      }
    },
    async projectContextMenu(title: string) {
      const action: string = await window.menuAPI.projectContextMenu(title);

      switch (action) {
        case "editProject": {
          const project = this.projects.find(
            (project) => project.title === title
          ) as ProjectData;

          this.temporaryTitle = title;

          this.readProject(project.path).then(() => {
            this.editDialog = true;
          });

          break;
        }
        case "deleteProject": {
          const confirm: number = await window.dialogAPI.confirmDialog(
            "Borrar proyecto",
            `¿Seguro que quieres borar el projecto "${title}"?`,
            "warning"
          );

          if (confirm === 1) {
            this.$store.dispatch("deleteProject", title);
            localStorage.removeItem(title);
          }

          break;
        }
      }
    },
    saveEditedProject() {
      const currentProject: Project = this.$store.state.currentProject;
      const currentPath: string = this.$store.state.currentPath;
      window.fsAPI.saveFile(currentPath, JSON.stringify(currentProject));

      localStorage.removeItem(this.temporaryTitle);

      localStorage.setItem(
        currentProject.title,
        JSON.stringify({
          path: currentPath,
          date: new Date().toISOString().split("T")[0],
          description: currentProject.description,
        })
      );

      this.$store.dispatch("getProjects");
      this.projects = this.$store.state.projects;

      this.editDialog = false;
    },
  },
  computed: {
    filteredProjects(): ProjectData[] {
      return this.projects.filter((project) =>
        project.title.match(this.search)
      );
    },
  },
  watch: {
    projects(value: ProjectData[]) {
      window.menuAPI.switchEnableMenuItem("main", [1, 0], value.length > 0);
    },
  },
  beforeCreate() {
    this.$store.dispatch("getProjects");

    this.$vuetify.theme.dark = localStorage.getItem("darkMode") === "true";
  },
  created() {
    window.menuAPI.mainMenu();
    window.rendererEventsAPI.mainEvent(async (_event: any, action: string) => {
      switch (action) {
        case "openProject": {
          const filePathArray: string[] | undefined =
            await window.dialogAPI.openFile();

          if (filePathArray === undefined) {
            throw Error("Open project canceled.");
          }

          const filePath: string = filePathArray[0];
          const projectJSON: any = JSON.parse(
            await window.fsAPI.readFile(filePath)
          );

          if (!isAProject(projectJSON)) {
            window.dialogAPI.errorDialog(
              "Proyecto inválido",
              "Porfavor escoge un archivo que sea un proyecto de Taskpost."
            );
            throw Error("Invalid project type.");
          }

          if (projectJSON.title in localStorage) {
            window.dialogAPI.errorDialog(
              "Nombre duplicado",
              "Este proyecto ya existe"
            );

            throw Error("The project already exists.");
          }

          const localStorageInfo = {
            path: filePath,
            date: projectJSON.date,
            description: projectJSON.description,
          };

          localStorage.setItem(
            projectJSON.title,
            JSON.stringify(localStorageInfo)
          );

          this.$store.dispatch("addProject", {
            title: projectJSON.title,
            ...localStorageInfo,
          });

          break;
        }
        case "createProject":
          this.createDialog = true;
          break;
        case "sortByName":
          this.projects.sort(
            (projectOne: ProjectData, projectTwo: ProjectData) =>
              projectOne.title.localeCompare(projectTwo.title, "es", {
                sensitivity: "base",
              })
          );
          break;
        case "sortByDate":
          this.projects.sort(
            (projectOne: ProjectData, projectTwo: ProjectData) => {
              return Date.parse(projectTwo.date) - Date.parse(projectOne.date);
            }
          );
          break;
        case "darkMode":
          this.$vuetify.theme.dark = !this.$vuetify.theme.dark;
          localStorage.setItem("darkMode", this.$vuetify.theme.dark.toString());
          break;
        case "information":
          this.appInfoDialog = true;
          break;
      }
    });
  },
  destroyed() {
    window.rendererEventsAPI.removeListeners("main");
  },
});
</script>
<style scoped>
#main {
  height: 100%;
  padding: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

#list {
  height: 100%;
}
</style>
