<template>
  <v-container fluid>
    <v-row>
      <v-col md="4" lg="3">
        <task-editor />
      </v-col>
      <v-col md="8" lg="9">
        <v-col>
          <Timeline
            @disable-button="disableButton = true"
            @enable-button="disableButton = false"
            id="timeline"
          />
        </v-col>
        <v-col>
          <v-row>
            <v-dialog v-model="infoDialog" width="500">
              <template v-slot:activator="{ on, attrs }">
                <v-btn fab fixed right small top v-bind="attrs" v-on="on">
                  <v-icon>mdi-information-variant</v-icon>
                </v-btn>
              </template>
              <ProjectInfo @close-infoDialog="infoDialog = false" />
            </v-dialog>
          </v-row>
          <v-row>
            <v-dialog v-model="editDialog" width="700">
              <template v-slot:activator="{ on, attrs }">
                <v-btn
                  class="mt-16"
                  color="primary"
                  fab
                  fixed
                  right
                  small
                  top
                  v-bind="attrs"
                  v-on="on"
                >
                  <v-icon>mdi-pencil</v-icon>
                </v-btn>
              </template>
              <CreateProject @close-dialog="editDialog = false" type="Editar" />
            </v-dialog>
          </v-row>
          <v-row>
            <v-btn
              bottom
              @click="createNewTask"
              color="primary"
              :disabled="disableButton"
              fab
              fixed
              right
              x-large
            >
              <v-icon>mdi-plus</v-icon>
            </v-btn>
          </v-row>
        </v-col>
      </v-col>
    </v-row>
    <v-dialog v-model="selectTagDialog" width="500">
      <SelectTag @close-dialog="selectTagDialog = false" />
    </v-dialog>
  </v-container>
</template>

<script lang="ts">
import { bus } from "@/main";
import CreateProject from "@/components/CreateProject.vue";
import { Project, Task } from "@/modules/fileSystem";
import ProjectInfo from "@/components/ProjectInfo.vue";
import SelectTag from "@/components/SelectTag.vue";
import TaskEditor from "@/components/TaskEditor.vue";
import Timeline from "@/components/Timeline.vue";
import { toJpeg } from "html-to-image";
import Vue from "vue";

export default Vue.extend({
  name: "TimelineView",

  components: {
    CreateProject,
    ProjectInfo,
    SelectTag,
    TaskEditor,
    Timeline,
  },
  data() {
    return {
      currentProject: this.$store.state.currentProject as Project,
      disableButton: false,
      editDialog: false,
      infoDialog: false,
      selectTagDialog: false,
    };
  },
  methods: {
    createNewTask() {
      this.currentProject.createNewTask();
      this.$store.dispatch(
        "setSelectedTask",
        this.currentProject.tasks.length - 1
      );
    },
  },
  created() {
    async function exportSwitch(mode: string, currentProject: Project) {
      let exportString: string;

      switch (mode) {
        case "image": {
          const timeline = document.getElementById("timeline") as HTMLElement;
          exportString = await toJpeg(timeline, {
            backgroundColor: "white",
          });
          return exportString.split(",")[1];
        }
        case "markdown":
          exportString = `# ${currentProject.title}\n\n`;

          currentProject.tasks.forEach((task: Task) => {
            exportString += `## ${task.title}\n > ${task.description}  \n > Tiempo aprox: ${task.time} ${currentProject.cost?.unit}  \n > Fecha: ${task.date}\n\n`;
          });
          return exportString;
      }
    }

    window.menuAPI.timelineMenu();

    window.rendererEventsAPI.timelineEvent(
      async (_event: any, action: string, mode: string) => {
        const title = this.currentProject.title;
        const json = JSON.stringify(this.currentProject);
        const currentPath = this.$store.state.currentPath;

        switch (action) {
          case "returnToMainPage":
            this.$router.push({ path: "/" });
            this.$store.dispatch("setPreviousTitle", "");
            break;
          case "saveFileRenderer": {
            let filePath: string;
            if (currentPath !== null) {
              filePath = currentPath;
              window.fsAPI.saveFile(currentPath, json);
              localStorage.removeItem(this.$store.state.previousTitle);
            } else {
              try {
                filePath = await window.dialogAPI.saveFileAs(json, title);
                this.$store.dispatch("setCurrentPath", filePath);
                this.$store.state.previousTitle = title;
              } catch {
                return;
              }
            }
            localStorage.setItem(
              title,
              JSON.stringify({
                path: filePath,
                date: new Date().toISOString().split("T")[0],
                description: this.currentProject.description,
              })
            );
            break;
          }
          case "saveFileAsRenderer":
            window.dialogAPI.saveFileAs(json, title);
            break;
          case "exportProject": {
            const exportString = (await exportSwitch(
              mode,
              this.currentProject
            )) as string;

            window.dialogAPI.exportProject(
              exportString,
              this.currentProject.title,
              mode
            );

            break;
          }
          case "addNewTask":
            this.createNewTask();
            break;
          case "editProject":
            this.editDialog = true;
            break;
          case "sortByRenderer":
            bus.$emit("sortBy", mode);
            break;
          case "openTagDialog":
            this.selectTagDialog = true;
            break;
          case "projectInfo":
            this.infoDialog = true;
            break;
        }
      }
    );
  },
  destroyed() {
    window.rendererEventsAPI.removeListeners("timeline");
  },
});
</script>