<template>
  <v-card>
    <v-card-title>Información de la aplicación</v-card-title>
    <v-card-text>
      <p>Título: {{ appInfo.name }}</p>
      <p>Descripción: {{ appInfo.description }}</p>
      <p>Autor: {{ appInfo.author.name }}</p>
      <p>Email: {{ appInfo.author.email }}</p>
      <p>Licensia: {{ appInfo.license }}</p>
      <p>Repositorio: {{ appInfo.repository.url }}</p>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn class="mb-3 mr-3 mt-n3" @click="accept" color="primary"
        >Aceptar</v-btn
      >
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { AppData } from "@/modules/fileSystem";
import Vue from "vue";

export default Vue.extend({
  name: "AppInfo",

  components: {},
  data() {
    return {
      appInfo: {} as AppData,
    };
  },
  methods: {
    accept() {
      this.$emit("close-dialog");
    },
  },
  async created() {
    this.appInfo = await window.fsAPI.readPackage();
  },
});
</script>