<template>
  <v-card class="pa-5">
    <v-card-title class="ml-n2">{{ type }} etiqueta</v-card-title>
    <v-card-actions>
      <v-container>
        <v-form ref="tagForm" v-model="valid">
          <v-row>
            <v-col>
              <v-row>
                <v-text-field
                  label="Título"
                  :rules="titleRules"
                  v-model="title"
                ></v-text-field>
              </v-row>
              <v-row>
                <v-text-field label="Ícono" v-model="icon"></v-text-field>
              </v-row>
              <v-row class="mt-10">
                <v-btn @click="$emit('close-dialog')">Cancelar</v-btn>
                <v-btn class="ml-5" @click="accept" color="primary"
                  >Aceptar</v-btn
                >
              </v-row>
            </v-col>
            <v-col>
              <v-color-picker
                class="ml-12"
                hide-canvas
                hide-inputs
                hide-sliders
                show-swatches
                v-model="color"
              ></v-color-picker>
            </v-col>
          </v-row>
        </v-form>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Tag } from "@/modules/fileSystem";
import Vue, { PropType } from "vue";

export default Vue.extend({
  name: "CreateTag",

  props: {
    type: {
      required: true,
      type: String,
    },
  },
  components: {},
  data() {
    return {
      color:
        this.type === "Editar"
          ? this.$store.state.currentTag.color
          : ("" as string),
      icon:
        this.type === "Editar"
          ? this.$store.state.currentTag.icon.substring(4)
          : ("" as string),
      title:
        this.type === "Editar"
          ? this.$store.state.currentTag.title
          : ("" as string),
      valid: false as boolean,
    };
  },
  methods: {
    accept() {
      if (
        (this.$refs.tagForm as Vue & { validate: () => boolean }).validate()
      ) {
        const icon = "mdi-" + this.icon;
        const color = this.color === "" ? "blue" : this.color;

        if (this.type === "Editar") {
          console.log("taggy: ", this.$store.state.currentTag);

          let tagObject: Tag =
            this.$store.state.currentProject.tagList[
              this.$store.state.currentProject.tagList.indexOf(
                this.$store.state.currentTag
              )
            ];

          tagObject.title = this.title;
          tagObject.color = color;
          tagObject.icon = icon;
        }

        if (this.type === "Crear") {
          this.$store.state.currentProject.tagList.push(
            new Tag(this.title, color, icon)
          );
        }

        this.$emit("close-dialog");
      }
    },
  },
  computed: {
    titleRules() {
      const rules = [];

      const minCharacters = (v: string) =>
        (v || "").length > 0 || "Es necesario proporcionar un título.";
      rules.push(minCharacters);

      return rules;
    },
  },
});
</script>