<template>
  <v-card class="pa-4" @keyup.enter="accept">
    <v-card-title class="ml-n2">{{ type }} Projecto</v-card-title>
    <v-card-actions>
      <v-container>
        <v-form ref="form" v-model="valid">
          <v-row class="mb-2">
            <v-text-field
              label="Título"
              :rules="titleRules"
              v-model="title"
            ></v-text-field>
          </v-row>
          <v-row class="mb-2">
            <v-textarea
              label="Descripción (140 caracteres)"
              :rules="descriptionRules"
              v-model="description"
            ></v-textarea>
          </v-row>
          <v-row>
            <v-col>
              <v-text-field label="Costo" v-model="price"></v-text-field>
            </v-col>
            <v-col>
              <v-select
                :items="currencies"
                label="Moneda"
                v-model="currency"
              ></v-select>
            </v-col>
            <v-col>
              <v-select
                :items="unities"
                label="Unidad"
                v-model="unit"
              ></v-select>
            </v-col>
          </v-row>
        </v-form>
        <v-row class="mt-12">
          <v-spacer></v-spacer>
          <v-btn class="mr-5" @click="$emit('close-dialog')">Cancelar</v-btn>
          <v-btn @click="accept" color="primary">Aceptar</v-btn>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { VForm } from "@/utils/validate";
import { Project } from "@/modules/fileSystem";
import router from "@/router";
import Vue from "vue";

export default Vue.extend({
  name: "CreateProject",
  props: ["type"],
  data() {
    return {
      currencies: ["MXN", "USD", "BTC"] as string[],
      currency:
        Object.keys(this.$store.state.currentProject).length !== 0
          ? (this.$store.state.currentProject.cost.currency as string)
          : "",
      currentProject: this.$store.state.currentProject as Project,
      description:
        Object.keys(this.$store.state.currentProject).length !== 0
          ? (this.$store.state.currentProject.description as string)
          : ("Proyecto de Taskpost" as string),
      price:
        Object.keys(this.$store.state.currentProject).length !== 0
          ? (this.$store.state.currentProject.cost.price as number)
          : (0 as number),
      title:
        Object.keys(this.$store.state.currentProject).length !== 0
          ? (this.$store.state.currentProject.title as string)
          : ("Nuevo Proyecto" as string),
      unit:
        Object.keys(this.$store.state.currentProject).length !== 0
          ? (this.$store.state.currentProject.cost.unit as string)
          : "",
      unities: ["Minutos", "Horas", "Días", "Meses"] as string[],
      valid: false as boolean,
    };
  },
  methods: {
    accept(): void {
      if (
        this.$store.state.previousTitle !== this.title &&
        this.title in { ...localStorage }
      ) {
        window.dialogAPI.errorDialog(
          "Nombre duplicado",
          "Otro proyecto ya tiene este título. Por favor escoge uno nuevo"
        );
        return;
      }

      if (this.type === "Editar") {
        this.editProject();
      } else {
        this.createProject();
      }
    },
    createProject(): void {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        const newProject = new Project(
          this.title,
          this.description,
          new Date().toISOString().split("T")[0],
          { price: this.price, currency: this.currency, unit: this.unit },
          [],
          []
        );

        this.$store.dispatch("setCurrentProject", newProject);
        this.$store.dispatch("setCurrentPath", null);

        this.$store.state.currentProject.createNewTask();
        this.$store.dispatch("setSelectedTask", 0);

        router.push({ path: "/timeline" });
      }
    },
    editProject(): void {
      if ((this.$refs.form as Vue & { validate: () => boolean }).validate()) {
        this.currentProject.title = this.title;
        this.currentProject.description = this.description;
        this.currentProject.date = new Date().toISOString().split("T")[0];
        this.currentProject.cost = {
          price: this.price,
          currency: this.currency,
          unit: this.unit,
        };
      }

      this.$emit("close-dialog");
    },
  },
  computed: {
    descriptionRules() {
      const rules = [];

      const minCharacters = (v: string) =>
        (v || "").length > 0 || "Es necesario proporcionar una descripción.";
      rules.push(minCharacters);

      const maxCharacters = (v: string) =>
        (v || "").length <= 140 ||
        "La descripción debe ser igual o menor a 140 caracteres.";
      rules.push(maxCharacters);

      return rules;
    },
    form(): VForm {
      return this.$refs.form as VForm;
    },
    titleRules() {
      const rules = [];

      const minCharacters = (v: string) =>
        (v || "").length > 0 || "Es necesario proporcionar un título.";
      rules.push(minCharacters);

      return rules;
    },
  },
});
</script>