<template>
  <v-card>
    <v-card-title>Información del proyecto</v-card-title>
    <v-card-text>
      <p>Título: {{ currentProject.title }}</p>
      <p>Descripción: {{ currentProject.description }}</p>
      <p>Número total de tareas: {{ currentProject.tasks.length }}</p>
      <ul>
        <li>Principales: {{ taskCount() }}</li>
        <li>Secundarias: {{ taskCount("totalSecondary") }}</li>
      </ul>
      <br />
      <p>Número de tareas completadas: {{ taskCount("fullCompleted") }}</p>
      <ul>
        <li>Principales: {{ taskCount("mainCompleted") }}</li>
        <li>Secundarias: {{ taskCount("secondaryCompleted") }}</li>
      </ul>
      <br />
      <p>Tiempo total: {{ totalTime }}</p>
      <p>Tiempo restante: {{ remainingTime }}</p>
      <p>
        Costo total del proyecto:
        {{
          totalTime * currentProject.cost.price +
          " " +
          currentProject.cost.currency
        }}
      </p>
    </v-card-text>
    <v-card-actions>
      <v-spacer></v-spacer>
      <v-btn class="ma-3" @click="aceptar" color="primary">Aceptar</v-btn>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { Project, Task } from "@/modules/fileSystem";
import Vue from "vue";

export default Vue.extend({
  name: "ProjectInfo",

  components: {},
  data() {
    return {
      currentProject: this.$store.state.currentProject as Project,
    };
  },
  methods: {
    aceptar(): void {
      this.$emit("close-infoDialog");
    },
    taskCount(type: string): number {
      const tasks = this.currentProject.tasks;
      let taskCount: Task[];

      switch (type) {
        case "totalSecondary":
          taskCount = tasks.filter((task: Task) => !task.primary);
          break;
        case "fullCompleted":
          taskCount = tasks.filter((task: Task) => task.complete);
          break;
        case "mainCompleted":
          taskCount = tasks.filter(
            (task: Task) => task.primary && task.complete
          );
          break;
        case "secondaryCompleted":
          taskCount = tasks.filter(
            (task: Task) => !task.primary && task.complete
          );
          break;
        default:
          taskCount = tasks.filter((task: Task) => task.primary);
      }

      return taskCount.length;
    },
  },
  computed: {
    remainingTime(): number {
      const remainingTime: number = this.currentProject.tasks
        .filter((task: Task) => !task.complete)
        .map((task: Task) => task.time)
        .reduce(
          (previousTime: number, currentTime: number) =>
            Number(previousTime) + Number(currentTime),
          0
        );

      return remainingTime;
    },
    totalTime(): number {
      const totalTime: number = this.currentProject.tasks
        .map((task: Task) => task.time)
        .reduce(
          (previousTime: number, currentTime: number) =>
            Number(previousTime) + Number(currentTime)
        );
      return totalTime;
    },
  },
});
</script>
<style scoped>
</style>
