<template>
  <v-card class="pa-3">
    <v-card-title class="ml-n2">Selección de etiquetas: </v-card-title>
    <v-card-actions>
      <v-container>
        <v-row>
          <v-combobox
            chips
            label="Seleciona una etiqueta"
            :items="currentProject.tagList"
            item-text="title"
            v-model="selectedTags"
          >
            <template v-slot:selection="data">
              <v-chip :color="data.item.color" dark>
                <v-avatar left v-if="data.item.icon !== 'mdi-'">
                  <v-icon>{{ data.item.icon }}</v-icon>
                </v-avatar>
                {{ data.item.title }}
              </v-chip>
            </template>
            <template v-slot:item="{ item }">
              <v-chip :color="`${item.color}`" dark small>
                {{ item.title }}
              </v-chip>
            </template>
          </v-combobox>
        </v-row>
        <v-row>
          <v-spacer></v-spacer>
          <v-btn class="mt-4" @click="accept" color="primary">Aceptar</v-btn>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import { bus } from "@/main";
import { Project, Tag } from "@/modules/fileSystem";
import Vue from "vue";

export default Vue.extend({
  name: "SelectTag",

  components: {},
  data() {
    return {
      currentProject: this.$store.state.currentProject as Project,
      selectedTags: null as Tag | null,
    };
  },
  methods: {
    accept() {
      bus.$emit("sortBy", "tags", this.selectedTags);
      this.$emit("close-dialog");
    },
  },
});
</script>