<template>
  <v-card id="taskEditor" width="400">
    <v-card-title>{{ currentProject.title }}</v-card-title>
    <v-card-actions>
      <v-container class="pa-7">
        <v-row class="mb-2">
          <v-text-field
            label="Tarea"
            v-model="selectedTask.title"
          ></v-text-field>
        </v-row>
        <v-row class="mb-2">
          <v-textarea
            label="Descripción"
            v-model="selectedTask.description"
          ></v-textarea>
        </v-row>
        <v-row>
          <v-col>
            <v-text-field
              class="pr-7"
              label="Tiempo aproximado"
              type="number"
              v-model="selectedTask.time"
            ></v-text-field>
          </v-col>
          <v-col align-self="center">
            <v-checkbox
              label="Principal"
              v-model="selectedTask.primary"
            ></v-checkbox>
          </v-col>
        </v-row>
        <v-row class="mb-2">
          <v-file-input
            @change="imageToBase64"
            accept="image/*"
            label="Añadir imágen"
            prepend-icon="mdi-camera"
            v-model="image"
          ></v-file-input>
        </v-row>
        <v-row class="mb-2">
          <v-menu
            min-width="auto"
            offset-y
            :close-on-content-click="false"
            ref="menu"
            :return-value.sync="selectedTask.date"
            transition="scale-transition"
            v-model="menu"
          >
            <template v-slot:activator="{ on, attrs }">
              <v-text-field
                label="Picker in menu"
                prepend-icon="mdi-calendar"
                readonly
                v-bind="attrs"
                v-model="selectedTask.date"
                v-on="on"
              ></v-text-field>
            </template>
            <v-date-picker no-title scrollable v-model="selectedTask.date">
              <v-spacer></v-spacer>
              <v-btn @click="menu = false" color="primary" text> Cancel </v-btn>
              <v-btn
                @click="$refs.menu.save(selectedTask.date)"
                color="primary"
                text
              >
                OK
              </v-btn>
            </v-date-picker>
          </v-menu>
        </v-row>
        <v-row class="mb-2">
          <v-combobox
            label="Añadir etiquetas"
            :items="currentProject.tagList"
            item-text="title"
            multiple
            chips
            v-model="selectedTask.tags"
          >
            <template v-slot:selection="data">
              <v-chip :color="data.item.color" dark>
                <v-avatar left v-if="data.item.icon !== 'mdi-'">
                  <v-icon>{{ data.item.icon }}</v-icon>
                </v-avatar>
                {{ data.item.title }}
              </v-chip>
            </template>
            <template v-slot:item="{ item }">
              <v-chip :color="`${item.color}`" dark small>
                {{ item.title }}
              </v-chip>
              <v-spacer></v-spacer>
              <v-list-item-action class="my-0">
                <v-container>
                  <v-row>
                    <v-col class="mr-n4">
                      <v-dialog v-model="editTagDialog" width="800">
                        <template v-slot:activator="{ on, attrs }">
                          <v-btn
                            @click.stop.prevent="setTagDialog(item)"
                            icon
                            v-bind="attrs"
                            v-on="on"
                          >
                            <v-icon>{{ "mdi-pencil" }}</v-icon>
                          </v-btn>
                        </template>
                        <CreateTag
                          @close-dialog="editTagDialog = false"
                          type="Editar"
                          v-if="editTagDialog"
                        />
                      </v-dialog>
                    </v-col>
                    <v-col>
                      <v-btn
                        @click.stop.prevent="deleteTag(item)"
                        color="error"
                        icon
                      >
                        <v-icon>{{ "mdi-delete" }}</v-icon>
                      </v-btn>
                    </v-col>
                  </v-row>
                </v-container>
              </v-list-item-action>
            </template>
          </v-combobox>
        </v-row>
        <v-row>
          <v-dialog v-model="createTagDialog" width="800">
            <template v-slot:activator="{ on, attrs }">
              <v-btn
                block
                @click="createTagDialog = true"
                color="primary"
                v-bind="attrs"
                v-on="on"
                >Crear etiqueta</v-btn
              >
            </template>
            <CreateTag
              @close-dialog="createTagDialog = false"
              type="Crear"
              v-if="createTagDialog"
            />
          </v-dialog>
        </v-row>
      </v-container>
    </v-card-actions>
  </v-card>
</template>

<script lang="ts">
import CreateTag from "@/components/CreateTag.vue";
import { Project, Tag, Task } from "@/modules/fileSystem";
import Vue from "vue";

export default Vue.extend({
  name: "TaskEditor",

  components: {
    CreateTag,
  },
  data() {
    return {
      createTagDialog: false as boolean,
      currentProject: this.$store.state.currentProject as Project,
      editTagDialog: false as boolean,
      image: "" as any,
      menu: false as boolean,
    };
  },
  methods: {
    deleteTag(item: Tag) {
      this.currentProject.tagList.splice(
        this.currentProject.tagList.indexOf(item),
        1
      );

      this.currentProject.tasks.forEach((task: Task) => {
        task.tags.splice(task.tags.indexOf(item), 1);
      });
    },
    setTagDialog(item: Tag) {
      this.$store.dispatch("setCurrentTag", item);
    },
    imageToBase64() {
      const selectedTask = this.$store.state.selectedTask;
      if (this.image !== null) {
        const reader = new FileReader();
        reader.onloadend = () => {
          selectedTask.image = reader.result;
        };

        reader.readAsDataURL(this.image);
      } else {
        selectedTask.image = null;
      }
    },
    tellMe(date: string) {
      console.log("tm: ", date);
    },
  },
  computed: {
    selectedTask(): Task {
      return this.$store.state.selectedTask;
    },
  },
});
</script>
<style scoped>
#taskEditor {
  position: fixed;
}
</style>