<template>
  <v-timeline align-top class="ml-16">
    <v-timeline-item
      :color="setColor(task.tags, task.complete)"
      fill-dot
      :icon="setIcon(task.tags)"
      :key="task.index"
      :small="!task.primary"
      v-for="task in tasks"
    >
      <template v-slot:opposite>
        {{ task.date }}
      </template>
      <v-card
        @click="setSelectedTask(task.index)"
        :color="setColor(task.tags, task.complete)"
        @contextmenu="taskContextMenu(task.index)"
        dark
        width="300"
      >
        <v-card-title>{{ task.title }}</v-card-title>
        <v-card-subtitle>{{
          task.time + " " + currentProject.cost.unit
        }}</v-card-subtitle>
        <v-img
          eager
          :src="taskImage(task.image)"
          v-if="task.image !== null"
        ></v-img>
        <v-card-text
          :class="
            darkmode
              ? 'grey darken-4 text--primary pt-5'
              : 'white text--primary pt-5'
          "
        >
          <v-container>
            <v-row v-if="!task.show">
              {{ snippedDescription(task.description) }}
            </v-row>
            <v-row>
              <v-expand-transition>
                <v-container v-if="task.show">
                  <v-row>
                    {{ task.description }}
                  </v-row>
                  <v-row>
                    <v-card-subtitle class="my-3 pa-0 text--disabled"
                      >Etiquetas:</v-card-subtitle
                    >
                  </v-row>
                  <v-row v-if="task.tags.length > 0">
                    <v-chip
                      class="mr-2 mt-2"
                      :color="tag.color"
                      :key="tag.title"
                      v-for="tag in task.tags"
                      >{{ tag.title }}</v-chip
                    >
                  </v-row>
                </v-container>
              </v-expand-transition>
            </v-row>
          </v-container>
        </v-card-text>
        <v-card-actions
          :class="
            darkmode
              ? 'grey darken-4 text--primary pt-5'
              : 'white text--primary pt-5'
          "
        >
          <v-container>
            <v-row justify="center">
              <v-col cols="6" class="mr-n5 ml-n3">
                <v-btn
                  @click="task.show = !task.show"
                  :color="setColor(task.tags, task.complete)"
                  outlined
                  tile
                  >{{ !task.show ? "Expandir" : "Ocultar" }}</v-btn
                >
              </v-col>
              <v-col cols="6">
                <v-btn
                  @click="task.complete = !task.complete"
                  :color="setColor(task.tags, task.complete)"
                  outlined
                  tile
                  >{{ task.complete ? "Reanudar" : "Completar" }}</v-btn
                >
              </v-col>
            </v-row>
          </v-container>
        </v-card-actions>
      </v-card>
    </v-timeline-item>
  </v-timeline>
</template>

<script lang="ts">
import { bus } from "@/main";
import { Project, Tag, Task } from "@/modules/fileSystem";
import Vue from "vue";

export default Vue.extend({
  name: "Timeline",

  data() {
    return {
      currentProject: this.$store.state.currentProject as Project,
      darkmode: this.$vuetify.theme.dark,
      tasks: this.$store.state.currentProject.tasks as Task[],
    };
  },
  methods: {
    snippedDescription(text: string): string {
      return text.substring(0, 140);
    },
    setColor(tagsArray: Tag[], completed: boolean): string {
      if (completed) {
        return "grey";
      } else {
        return tagsArray.length > 0 ? tagsArray[0].color : "primary";
      }
    },
    setIcon(tagsArray: Tag[]): string | undefined {
      if (tagsArray.length > 0) {
        return tagsArray[0].icon;
      } else {
        return undefined;
      }
    },
    setSelectedTask(index: number): void {
      this.$store.dispatch("setSelectedTask", index);
    },
    taskImage(base64String: string): string {
      const image: HTMLImageElement = new Image();
      image.src = base64String;
      return image.src;
    },
    async taskContextMenu(index: number) {
      const action: string = await window.menuAPI.taskContextMenu();

      switch (action) {
        case "deleteTask":
          this.$store.dispatch("deleteTask", index);
          break;
        case "completeTask":
          this.$store.dispatch("completeTask", index);
          break;
      }
    },
  },
  computed: {
    clonedTasks(): Task[] {
      return this.$store.state.currentProject.tasks.map((task: Task) => task);
    },
  },
  created() {
    bus.$on("sortBy", (mode: string, tag: Tag) => {
      switch (mode) {
        case "date":
          this.tasks = this.currentProject.tasks;
          this.$emit("enable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], true);
          break;
        case "name":
          this.tasks = this.clonedTasks.sort((taskOne: Task, taskTwo: Task) =>
            taskOne.title.localeCompare(taskTwo.title, "es", {
              sensitivity: "base",
            })
          );
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
        case "tags":
          this.tasks = this.clonedTasks.filter((task: Task) =>
            task.tags.includes(tag)
          );
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
        case "important":
          this.tasks = this.clonedTasks.filter((task: Task) => task.primary);
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
        case "secondary":
          this.tasks = this.clonedTasks.filter((task: Task) => !task.primary);
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
        case "complete":
          this.tasks = this.clonedTasks.filter((task: Task) => task.complete);
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
        case "incomplete":
          this.tasks = this.clonedTasks.filter((task: Task) => !task.complete);
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
        case "time":
          this.tasks = this.clonedTasks.sort(
            (taskOne: Task, taskTwo: Task) =>
              Number(taskTwo.time) - Number(taskOne.time)
          );
          this.$emit("disable-button");
          window.menuAPI.switchEnableMenuItem("timeline", [1, 0], false);
          break;
      }
    });
  },
});
</script>