<template>
  <v-app>
    <v-main>
      <router-view />
    </v-main>
  </v-app>
</template>

<script lang="ts">
import Vue from "vue";

declare global {
  interface Window {
    menuAPI?: any;
    dialogAPI?: any;
    rendererEventsAPI?: any;
    fsAPI?: any;
  }
}

export default Vue.extend({
  name: "App",

  data: () => ({
    //
  }),
});
</script>
